* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 100px;
  background-image: url(../assets/img/color-de-marca.png);
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 250px;
    height: 100px;
    align-items: center; }
  header nav .navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;
    list-style: none; }
    header nav .navBar li:hover {
      transform: scale(1.4); }
    header nav .navBar li a {
      text-decoration: none;
      color: #f7f7f7;
      text-transform: capitalize;
      font-size: 25px; }
      header nav .navBar li a:hover {
        color: #1C668D; }

.SeccionPrincipalIndex {
  width: 100%;
  height: 700px;
  background-image: url(../assets/img/foto-inicio.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .SeccionPrincipalIndex h1 {
    width: 50%;
    height: 200px;
    color: #e1ecec;
    font-size: 40px;
    align-items: center;
    text-transform: uppercase;
    margin-top: 50px; }
  .SeccionPrincipalIndex p {
    width: 70%;
    height: 150px;
    color: #f7f7f7;
    font-size: 30px;
    text-align: center;
    margin-top: 20px; }
  .SeccionPrincipalIndex button {
    height: 70px;
    width: 380px;
    margin-top: 5%;
    background-color: #E3BBC5;
    border-radius: 30px;
    font-size: 30px; }
    .SeccionPrincipalIndex button a {
      text-decoration: none;
      color: #333131; }
  .SeccionPrincipalIndex button:active {
    background-color: #1C668D;
    color: #f7f7f7; }

.contenedor {
  height: 500px; }
  .contenedor .h2IndexServicios {
    height: 100px; }
    .contenedor .h2IndexServicios h2 {
      font-size: 50px;
      text-transform: uppercase;
      color: #1C668D;
      text-align: center; }
  .contenedor .tipoClases {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center; }
    .contenedor .tipoClases div {
      width: 90%;
      height: 200px;
      background-color: #E3BBC5;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .contenedor .tipoClases div h3 {
        font-size: 30px;
        margin-left: 10%; }
        .contenedor .tipoClases div h3 a {
          color: #333131; }
      .contenedor .tipoClases div img {
        height: 100%;
        width: 250px; }

.contenedorSobreMiIndex {
  width: 100%;
  height: 600px;
  background-image: url("../assets/img/sobremi.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  .contenedorSobreMiIndex .sMi {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    gap: 30px; }
    .contenedorSobreMiIndex .sMi .titulo {
      font-size: 40px;
      color: aliceblue;
      margin-top: 30%; }
    .contenedorSobreMiIndex .sMi p {
      font-size: 20px;
      color: aliceblue;
      width: 85%; }
    .contenedorSobreMiIndex .sMi button {
      width: 250px;
      height: 40px;
      background-color: #E3BBC5;
      font-size: 20px;
      border-radius: 30px;
      margin-top: 10px; }
      .contenedorSobreMiIndex .sMi button a {
        color: #333131;
        text-decoration: none; }
    .contenedorSobreMiIndex .sMi button:active {
      background-color: #1C668D;
      color: #f7f7f7; }

.IndexServicios {
  height: 700px; }
  .IndexServicios h2 {
    height: 70px;
    color: #1C668D;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px; }
  .IndexServicios .packDeClases {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 60px;
    margin-top: 20px; }
    .IndexServicios .packDeClases .card {
      width: 250px;
      height: 250px;
      margin-top: 50px; }
      .IndexServicios .packDeClases .card img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
        .IndexServicios .packDeClases .card img:hover {
          transform: scale(1.1); }
      .IndexServicios .packDeClases .card button {
        width: 250px;
        height: 60px;
        background-color: #1C668D;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 30px; }
        .IndexServicios .packDeClases .card button a {
          color: #f7f7f7;
          text-decoration: none; }
      .IndexServicios .packDeClases .card button:active {
        background-color: #E3BBC5;
        color: #333131; }

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2024-7-26 17:0:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

.tilt-in-left-1 {
  -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1; } }

@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1; } }

.tilt-in-right-1 {
  -webkit-animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1; } }

@keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1; } }

main .pack {
  color: aliceblue;
  font-size: 40px;
  background-color: #1C668D;
  text-align: center; }

main .articuloServicios {
  width: 100%;
  height: 330px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row; }
  main .articuloServicios div img {
    width: 400px;
    height: 100%; }
  main .articuloServicios .texto {
    display: flex;
    flex-direction: column;
    margin-left: 18px; }
    main .articuloServicios .texto h3 {
      height: 70px;
      font-size: 25px;
      color: #333131;
      margin-top: 20px; }
    main .articuloServicios .texto p {
      width: 95%;
      font-size: 30px; }
    main .articuloServicios .texto button {
      border-radius: 20px;
      background-color: #1C668D;
      color: aliceblue;
      font-size: 20px;
      margin-top: 20px;
      width: 300px;
      height: 35px; }
      main .articuloServicios .texto button a {
        color: aliceblue;
        text-decoration: none; }
    main .articuloServicios .texto button:active {
      background-color: #E3BBC5;
      color: #333131; }

.mainSobreMi div h1 {
  font-size: 50px;
  color: #1C668D;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase; }

.mainSobreMi section {
  display: flex;
  flex-direction: row; }
  .mainSobreMi section div img {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    border-radius: 20px; }
  .mainSobreMi section div .agregado {
    width: 90%;
    height: 400px;
    margin-left: 30px;
    padding-top: 30px;
    font-size: 18px; }

.mainSobreMi .sobreLasClases {
  font-size: 30px;
  color: aliceblue;
  background-color: #1C668D;
  text-align: center; }

.mainSobreMi .sobreMiPag {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  margin-top: 30px; }
  .mainSobreMi .sobreMiPag div .yo {
    width: 90%;
    align-items: center;
    height: 500px;
    object-fit: contain;
    margin-top: 5px; }
  .mainSobreMi .sobreMiPag .textoFuerza {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 20px; }
    .mainSobreMi .sobreMiPag .textoFuerza button {
      margin-left: 20px;
      margin-top: 50px;
      width: 300px;
      height: 60px;
      background-color: #E3BBC5;
      border-radius: 20px; }
      .mainSobreMi .sobreMiPag .textoFuerza button a {
        color: #333131;
        font-size: 20px;
        text-decoration: none; }

.mainContactos {
  background-image: url(../assets/img/colores-de-marca-mas-grande.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px; }
  .mainContactos h1 {
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    text-transform: uppercase; }
  .mainContactos .sectionForm {
    width: 80%;
    padding-top: 50px; }
    .mainContactos .sectionForm .sectionFormDiv {
      height: 100px;
      margin-left: 15%; }
      .mainContactos .sectionForm .sectionFormDiv label {
        font-size: 20px;
        color: aliceblue; }
      .mainContactos .sectionForm .sectionFormDiv .inputForm {
        width: 100%;
        height: 50px; }
      .mainContactos .sectionForm .sectionFormDiv .mensajeForm {
        width: 100%;
        height: 300px; }
      .mainContactos .sectionForm .sectionFormDiv .formSubmit {
        width: 200px;
        height: 50px;
        color: #333131;
        border-radius: 20px;
        background-color: #E3BBC5;
        font-size: 20px;
        text-transform: uppercase; }
    .mainContactos .sectionForm .sectionFormDivMensaje {
      height: 400px;
      margin-left: 15%; }
      .mainContactos .sectionForm .sectionFormDivMensaje label {
        font-size: 20px;
        color: aliceblue; }
      .mainContactos .sectionForm .sectionFormDivMensaje textarea {
        width: 100%;
        height: 300px; }
  .mainContactos .whatsap {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 300px;
    gap: 20px;
    align-items: flex-end; }
    .mainContactos .whatsap p {
      color: aliceblue;
      font-size: 30px; }
    .mainContactos .whatsap img {
      width: 80px;
      height: 80px;
      margin-right: 70px; }

.mainAlumnas {
  width: 100%; }
  .mainAlumnas .fotoAlumnas {
    height: 60px;
    font-size: 50px;
    text-transform: uppercase;
    color: #1C668D;
    text-align: center; }
  .mainAlumnas .principalAlumnas {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 ";
    row-gap: 10px;
    column-gap: 10px; }
    .mainAlumnas .principalAlumnas img {
      width: 80%;
      height: 90%;
      align-self: center;
      justify-self: center; }
      .mainAlumnas .principalAlumnas img:hover {
        transform: scale(1.2); }
  .mainAlumnas .h2Re {
    font-size: 40px;
    color: #1C668D;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    height: 50px; }
  .mainAlumnas .reviews {
    height: 500px;
    background-image: url(../assets/img/chicafitness2.png);
    background-size: cover; }
    .mainAlumnas .reviews img {
      width: 300px;
      height: 300px;
      object-fit: contain;
      margin-top: 50px; }

footer {
  height: 200px;
  width: 100%;
  background-image: url(../assets/img/color-de-marca.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px; }
  footer .logo img {
    width: 250px;
    height: 120px; }
  footer p {
    color: aliceblue;
    font-size: 20px;
    width: 30%; }
  footer a img {
    width: 40px;
    height: 40px;
    margin-right: 40px; }

@media (max-width: 910px) {
  header {
    width: 100%;
    align-items: center;
    background-image: url(../assets/img/color-de-marca.png);
    background-size: contain;
    background-size: cover; }
    header img {
      width: 200px;
      height: 100px; }
  .SeccionPrincipalIndex button {
    margin-top: 5%;
    height: 60px;
    width: 300px; }
  .IndexServicios h2 {
    margin-top: 30px;
    height: 50px;
    font-size: 50px; }
  .IndexServicios .packDeClases {
    flex-wrap: wrap; }
    .IndexServicios .packDeClases .card {
      align-self: center;
      width: 250px;
      height: 250px;
      margin-top: 50px; }
      .IndexServicios .packDeClases .card button {
        width: 200px;
        height: 40px;
        margin-left: 30px; }
  .contenedorSobreMiIndex {
    height: 800px; }
    .contenedorSobreMiIndex .sMi {
      padding-top: 30%;
      margin-left: 30%;
      font-size: 30px; }
      .contenedorSobreMiIndex .sMi .titulo {
        font-size: 40px;
        margin-top: 10%; }
      .contenedorSobreMiIndex .sMi p {
        font-size: 30px;
        height: 120px; }
      .contenedorSobreMiIndex .sMi button {
        margin-left: 10%; }
  main .articuloServicios {
    height: 350px; }
  .mainSobreMi .sobreMiPag {
    height: 1200px; }
    .mainSobreMi .sobreMiPag div .yo {
      margin-left: 5%; }
  .mainSobreMi footer .redes {
    width: 20%;
    height: 100%; }
    .mainSobreMi footer .redes a img {
      width: 30px;
      height: 30px; }
  .mainSobreMi .mainAlumnas .principalAlumnas {
    height: 900px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 ";
    row-gap: 10px;
    column-gap: 10px; }
    .mainSobreMi .mainAlumnas .principalAlumnas img {
      object-fit: contain; }
  .mainSobreMi .mainAlumnas .reviews img {
    width: 300px;
    height: 350px;
    object-fit: contain; } }

@media (max-width: 768px) {
  header {
    height: 300px; }
    header img {
      height: 200px;
      width: 350px;
      object-fit: contain; }
    header nav .navBar {
      display: flex;
      flex-direction: column; }
  .SeccionPrincipalIndex h1 {
    margin-top: 100px;
    width: 90%; }
  .SeccionPrincipalIndex p {
    display: none; }
  .SeccionPrincipalIndex button {
    margin-top: 30%;
    width: 250px;
    height: 60px;
    font-size: 20px; }
  .contenedorSobreMiIndex {
    height: 400px; }
    .contenedorSobreMiIndex .sMi {
      padding-top: 18%;
      margin-left: 30%;
      height: 1000px;
      gap: 10px; }
      .contenedorSobreMiIndex .sMi .titulo {
        font-size: 25px;
        margin-top: 5px; }
      .contenedorSobreMiIndex .sMi p {
        font-size: 17px;
        width: 99%;
        height: 120px; }
      .contenedorSobreMiIndex .sMi button {
        margin-left: 10%;
        width: 200px;
        height: 35px;
        font-size: 15px; }
  .contenedor .tipoClases div {
    width: 95%;
    height: 150px;
    background-color: #E3BBC5;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px; }
    .contenedor .tipoClases div h3 {
      font-size: 30px;
      color: #333131;
      margin-left: 5%; }
    .contenedor .tipoClases div img {
      width: 30%;
      height: 100%; }
  footer {
    flex-direction: row; }
    footer a img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      display: flex;
      flex-direction: column; }
  .IndexServicios {
    height: 1000px; }
    .IndexServicios h2 {
      margin-top: 100px;
      height: 50px;
      font-size: 40px; }
    .IndexServicios .packDeClases {
      height: 800px;
      display: flex;
      flex-direction: column; }
      .IndexServicios .packDeClases .card {
        align-self: center;
        width: 250px;
        height: 250px; }
        .IndexServicios .packDeClases .card button {
          width: 250px;
          height: 40px;
          margin-left: 10px; }
  .mainSobreMi section {
    display: flex;
    flex-direction: column; }
    .mainSobreMi section div img {
      width: 250px;
      height: 250px;
      margin-left: 32%; }
    .mainSobreMi section div .agregado {
      font-size: 18px; }
  .mainSobreMi .sobreMiPag {
    height: 1100px; }
    .mainSobreMi .sobreMiPag div .yo {
      height: 400px; }
    .mainSobreMi .sobreMiPag .textoFuerza {
      width: 90%;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      margin-left: 20px; }
      .mainSobreMi .sobreMiPag .textoFuerza button {
        width: 300px;
        height: 40; }
        .mainSobreMi .sobreMiPag .textoFuerza button a {
          font-size: 18; }
  .mainAlumnas .fotoAlumnas {
    font-size: 40px; }
  .mainAlumnas .principalAlumnas {
    height: 1300px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2" "img3 img4 " " img5 img6 " "img7";
    row-gap: 10px;
    column-gap: 10px; }
  .mainAlumnas .h2Re {
    font-size: 30px; }
  .mainAlumnas .reviews img {
    width: 300px;
    height: 320px;
    object-fit: contain; } }

main .articuloServicios {
  height: 480px; }
  main .articuloServicios div img {
    width: 300px; }
  main .articuloServicios .texto h3 {
    height: 100px; }
  main .articuloServicios .texto p {
    font-size: 18px; }
  main .articuloServicios .texto button {
    font-size: 16px;
    width: 250px; }

@media (max-width: 570px) {
  header img {
    width: 50%;
    height: 200px;
    object-fit: contain; }
  .contenedor {
    height: 400px; }
    .contenedor .h2IndexServicios h2 {
      font-size: 30px; }
    .contenedor .tipoClases div {
      width: 97%;
      height: 100px; }
      .contenedor .tipoClases div h3 {
        font-size: 20px;
        color: #333131;
        margin-left: 5%; }
      .contenedor .tipoClases div img {
        width: 150px;
        height: 100%; }
  .contenedorSobreMiIndex {
    width: 100%;
    height: 450px;
    background-image: url(../assets/img/sobremipages.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding-top: 5px; }
    .contenedorSobreMiIndex .sMi {
      width: 90%;
      padding-top: 90%;
      margin-left: 20px;
      gap: 50px; }
      .contenedorSobreMiIndex .sMi .titulo {
        color: #1C668D;
        text-align: center;
        font-size: 30px; }
      .contenedorSobreMiIndex .sMi p {
        color: #333131;
        width: 99%; }
      .contenedorSobreMiIndex .sMi button {
        margin-left: 30%;
        font-size: 15px; }
  .IndexServicios {
    height: 1100px; }
    .IndexServicios h2 {
      height: 30px;
      color: #1C668D;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 400px; }
    .IndexServicios .packDeClases {
      width: 100%;
      height: 900px;
      margin-top: 10px; }
      .IndexServicios .packDeClases .card {
        width: 200px;
        height: 200px; }
        .IndexServicios .packDeClases .card img {
          width: 100%;
          height: 100%; }
        .IndexServicios .packDeClases .card button {
          width: 200px;
          height: 40px;
          background-color: #1C668D;
          font-size: 15px;
          color: #f7f7f7;
          border-radius: 20px; }
  main .articuloServicios {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center; }
    main .articuloServicios div img {
      border-radius: 20px;
      width: 100%;
      height: 350px;
      margin-top: 30px; }
  .mainAlumnas .fotoAlumnas {
    font-size: 30px;
    height: 40px; }
  .mainAlumnas .principalAlumnas {
    height: 900px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2" "img3 img4 " " img5 img6 " "img7";
    row-gap: 10px;
    column-gap: 10px; }
    .mainAlumnas .principalAlumnas img {
      width: 180px;
      height: 180px;
      object-fit: contain;
      margin-top: 10px;
      margin-left: 10px; }
  .mainAlumnas .h2Re {
    font-size: 30px;
    height: 100px; }
  .mainAlumnas .reviews img {
    width: 250px;
    height: 270px;
    object-fit: contain; }
  footer {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    footer .logo img {
      margin-top: 1px;
      width: 200px;
      height: 100px;
      object-fit: contain; }
    footer p {
      color: aliceblue;
      font-size: 10px;
      width: 100%;
      text-align: center; }
    footer a img {
      width: 20px;
      height: 20px;
      margin-top: 10px; }
  .mainSobreMi div h1 {
    font-size: 30px; }
  .mainSobreMi section div img {
    margin-left: 25%;
    margin-top: 30px; }
  .mainSobreMi section div .agregado {
    height: 470px; }
  .mainSobreMi .sobreLasClases {
    font-size: 20px; }
  .mainSobreMi .sobreMiPag {
    height: 1100px; }
    .mainSobreMi .sobreMiPag div .yo {
      height: 300px;
      width: 90%; }
    .mainSobreMi .sobreMiPag .textoFuerza {
      margin-top: 20px;
      height: 500px; }
      .mainSobreMi .sobreMiPag .textoFuerza button {
        width: 280px;
        height: 40px;
        margin-left: 20px; }
        .mainSobreMi .sobreMiPag .textoFuerza button a {
          font-size: 18; }
  .mainContactos {
    height: 1200px; } }

@media (max-width: 400px) {
  header img {
    width: 60%;
    height: 100px;
    object-fit: contain; }
  header nav .navBar {
    width: 100px; }
    header nav .navBar li a {
      font-size: 15px; }
  .SeccionPrincipalIndex {
    height: 500px;
    width: 100%;
    background-image: url(../assets/img/foto-prin.png); }
    .SeccionPrincipalIndex h1 {
      font-size: 30px;
      margin-top: 20px;
      height: 10px; }
    .SeccionPrincipalIndex button {
      width: 200px;
      height: 40px;
      font-size: 15px;
      margin-left: 80px;
      margin-top: 200px; }
  .contenedorSobreMiIndex {
    height: 400px;
    width: 100%; }
    .contenedorSobreMiIndex .sMi {
      gap: 100px;
      padding-top: 90%; }
      .contenedorSobreMiIndex .sMi p {
        font-size: 18px; }
      .contenedorSobreMiIndex .sMi button {
        margin-left: 22%;
        width: 200px;
        height: 40px;
        font-size: 15px; }
  .IndexServicios {
    height: 1100px; }
    .IndexServicios h2 {
      height: 50px;
      font-size: 30px; }
  .packDeClases {
    height: 900px; }
  .mainAlumnas .fotoAlumnas {
    font-size: 25px; }
  .mainAlumnas .principalAlumnas {
    height: 800px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2" "img3 img4 " " img5 img6 " "img7";
    row-gap: 10px;
    column-gap: 10px; }
    .mainAlumnas .principalAlumnas img {
      width: 90%;
      height: 100%;
      object-fit: contain;
      justify-self: flex-start;
      align-self: center; }
  .mainAlumnas .h2Re {
    font-size: 25px; }
  .mainAlumnas .reviews img {
    width: 180px;
    height: 200px;
    object-fit: contain; }
  main .pack {
    font-size: 30px; }
  main .articuloServicios {
    height: 850px; }
    main .articuloServicios img {
      border-radius: 20px;
      width: 100%;
      height: 350px;
      margin-top: 30px; }
  .mainSobreMi div h1 {
    font-size: 30px; }
  .mainSobreMi section div {
    margin-top: 30px; }
    .mainSobreMi section div img {
      margin-left: 25%;
      width: 50%;
      height: 200px; }
    .mainSobreMi section div .agregado {
      height: 570px;
      font-size: 17px; }
  .mainSobreMi .sobreMiPag {
    height: 1350px; }
    .mainSobreMi .sobreMiPag div .yo {
      height: 300px;
      width: 95%;
      margin-left: 5px; }
    .mainSobreMi .sobreMiPag .textoFuerza {
      margin-top: 20px;
      height: 650px; }
      .mainSobreMi .sobreMiPag .textoFuerza button {
        width: 260px;
        height: 40px;
        margin-left: 10px; }
        .mainSobreMi .sobreMiPag .textoFuerza button a {
          font-size: 16; } }

@media (max-width: 300px) {
  .SeccionPrincipalIndex button {
    width: 170px; }
  .contenedor .tipoClases div h3 {
    font-size: 15px; }
  .contenedorSobreMiIndex {
    height: 250px; }
    .contenedorSobreMiIndex .sMi {
      gap: 60px; }
      .contenedorSobreMiIndex .sMi p {
        font-size: 15px; }
      .contenedorSobreMiIndex .sMi button {
        width: 200px;
        margin-left: 10%; }
  .IndexServicios {
    height: 1100px; }
    .IndexServicios section video {
      margin-left: 10%;
      width: 200px;
      height: 250px; }
  main div h1 {
    font-size: 20px; }
  main .articuloServicios {
    height: 900px; }
    main .articuloServicios img {
      height: 350px;
      width: 100%; }
    main .articuloServicios .texto h3 {
      height: 130px; }
    main .articuloServicios .texto p {
      font-size: 16px; }
    main .articuloServicios .texto button {
      width: 200px; }
  .mainAlumnas .principalAlumnas {
    height: 2000px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-template-areas: "img1" " img2" "img3" " img4 " " img5" " img6 " "img7";
    row-gap: 10px;
    column-gap: 10px; }
    .mainAlumnas .principalAlumnas img {
      width: 90%;
      height: 100%;
      object-fit: contain;
      justify-self: flex-start;
      align-self: center; }
  .mainAlumnas .h2Re {
    font-size: 20px; }
  .mainAlumnas .reviews img {
    width: 120px;
    height: 180px;
    object-fit: contain;
    margin-top: 100px; }
  .mainSobreMi div h1 {
    font-size: 30px; }
  .mainSobreMi section div img {
    margin-left: 25%;
    object-fit: contain;
    border-radius: 20px; }
  .mainSobreMi section div .agregado {
    height: 700px;
    margin-left: 10px; }
  .mainSobreMi .sobreLasClases {
    font-size: 16px; }
  .mainSobreMi .sobreMiPag {
    height: 1400px; }
    .mainSobreMi .sobreMiPag div .yo {
      width: 90%;
      margin-left: 5px;
      height: 200px;
      margin-top: 10px; }
    .mainSobreMi .sobreMiPag .textoFuerza {
      margin-top: 20px;
      height: 500px; }
      .mainSobreMi .sobreMiPag .textoFuerza button {
        width: 180px;
        height: 40px;
        margin-left: 10px; }
        .mainSobreMi .sobreMiPag .textoFuerza button a {
          font-size: 14px; }
  .mainContactos .whatsap p {
    font-size: 18px; }
  .mainContactos .whatsap img {
    margin-right: 40px;
    width: 60px;
    height: 60px; } }
