* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 100px;
  background-image: url(../assets/img/color-de-marca.png);
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 200px;
    height: 100px;
    align-items: center; }
  header nav .navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-right: 40px;
    list-style: none; }
    header nav .navBar li:hover {
      transform: scale(1.4); }
    header nav .navBar li a {
      text-decoration: none;
      color: #f7f7f7;
      text-transform: capitalize;
      font-size: 25px; }
      header nav .navBar li a:hover {
        color: #1C668D; }

.SeccionPrincipalIndex {
  width: 100%;
  height: 700px;
  background-image: url(../assets/img/foto-inicio.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .SeccionPrincipalIndex h1 {
    width: 50%;
    height: 200px;
    color: #e1ecec;
    font-size: 40px;
    align-items: center;
    text-transform: uppercase;
    margin-top: 50px; }
  .SeccionPrincipalIndex p {
    width: 70%;
    height: 200px;
    color: #f7f7f7;
    font-size: 30px;
    text-align: center;
    margin-top: 20px; }
  .SeccionPrincipalIndex button {
    height: 200px;
    width: 400px;
    margin-top: 5%;
    background-color: #E3BBC5;
    font-size: 20px;
    color: #333131; }
  .SeccionPrincipalIndex button:active {
    background-color: #1C668D;
    color: #f7f7f7;
    border-radius: 30px; }

.contenedor {
  height: 800px; }
  .contenedor .h2IndexServicios {
    height: 100px; }
    .contenedor .h2IndexServicios h2 {
      font-size: 50px;
      text-transform: uppercase;
      color: #1C668D;
      text-align: center; }
  .contenedor .tipoClases {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .contenedor .tipoClases div {
      width: 80%;
      height: 200px;
      background-color: #E3BBC5;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .contenedor .tipoClases div h3 {
        font-size: 30px;
        color: #333131;
        margin-left: 10%; }
      .contenedor .tipoClases div img {
        height: 100%;
        width: 250px; }

.contenedorSobreMiIndex {
  width: 100%;
  height: 700px;
  background-image: url("../assets/img/sobremi.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .contenedorSobreMiIndex .sMi {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    gap: 50px;
    padding-top: 20%; }
    .contenedorSobreMiIndex .sMi .titulo {
      font-size: 40px;
      color: aliceblue; }
    .contenedorSobreMiIndex .sMi p {
      font-size: 30px;
      color: aliceblue;
      width: 90%; }
    .contenedorSobreMiIndex .sMi button {
      width: 250px;
      height: 80px;
      background-color: #E3BBC5;
      font-size: 20px; }
    .contenedorSobreMiIndex .sMi button:active {
      background-color: #1C668D;
      color: #f7f7f7;
      border-radius: 30px; }

.IndexServicios {
  height: 700px; }
  .IndexServicios h2 {
    height: 50px;
    color: #1C668D;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center; }
  .IndexServicios .packDeClases {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-top: 5px; }
    .IndexServicios .packDeClases .card {
      width: 300px;
      height: 300px; }
      .IndexServicios .packDeClases .card img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
        .IndexServicios .packDeClases .card img:hover {
          transform: scale(1.1); }
    .IndexServicios .packDeClases button {
      width: 300px;
      height: 50px;
      background-color: #1C668D;
      font-size: 20px;
      color: #f7f7f7;
      border-radius: 20px;
      margin-top: 30px; }
    .IndexServicios .packDeClases button:active {
      background-color: #E3BBC5;
      color: #333131; }

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2024-7-26 17:0:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

main .pack {
  color: aliceblue;
  font-size: 40px;
  background-color: #1C668D;
  text-align: center; }

main .articuloServicios {
  width: 100%;
  height: 300px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row; }
  main .articuloServicios img {
    width: 270px;
    height: 300px; }
  main .articuloServicios .texto {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 60%; }
    main .articuloServicios .texto h3 {
      height: 100px;
      font-size: 30px;
      color: #333131; }
    main .articuloServicios .texto p {
      width: 60%;
      height: 150px; }
  main .articuloServicios button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #1C668D;
    color: aliceblue;
    margin-left: 20%;
    font-size: 20px; }
  main .articuloServicios button:active {
    background-color: #E3BBC5;
    color: #333131; }

.sobreMi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px; }
  .sobreMi h1 {
    font-size: 40px;
    color: #1C668D;
    text-align: center; }
  .sobreMi .pageSobreMi {
    display: flex;
    flex-direction: row;
    height: 700px; }
    .sobreMi .pageSobreMi img {
      width: 400px;
      height: 250px;
      margin-top: 5%; }
    .sobreMi .pageSobreMi p {
      width: 100%;
      margin-left: 20px;
      margin-top: 200px;
      font-size: 20px; }

main h1 {
  text-align: center;
  color: #1C668D;
  font-size: 40px;
  text-transform: uppercase; }

main .contactos {
  height: 500px;
  width: 100%; }
  main .contactos .formulario {
    width: 60%;
    height: 450px;
    background-color: bisque;
    margin-left: 25%; }
    main .contactos .formulario h3 {
      color: #333131; }

.mainAlumnas {
  width: 100%; }
  .mainAlumnas h1 {
    height: 60px;
    font-size: 50px;
    text-transform: uppercase; }
  .mainAlumnas .principalAlumnas {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 ";
    row-gap: 10px;
    column-gap: 10px; }
    .mainAlumnas .principalAlumnas img {
      width: 50%;
      height: 80%;
      align-self: center;
      justify-self: center; }
      .mainAlumnas .principalAlumnas img:hover {
        transform: scale(1.6); }
  .mainAlumnas section .h2Re {
    font-size: 40px;
    color: aliceblue;
    background-color: #1C668D;
    text-transform: uppercase;
    text-align: center; }
  .mainAlumnas section video {
    width: 400px;
    height: 400px;
    margin-left: 30%;
    margin-top: 30px; }

footer {
  height: 200px;
  width: 100%;
  background-image: url(../assets/img/color-de-marca.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px; }
  footer .logo img {
    width: 250px;
    height: 120px; }
  footer p {
    color: aliceblue;
    font-size: 20px;
    width: 30%; }
  footer a img {
    width: 40px;
    height: 40px;
    margin-right: 40px; }

@media (max-width: 910px) {
  header {
    width: 100%;
    align-items: center;
    background-image: url(../assets/img/color-de-marca.png);
    background-size: contain;
    background-size: cover; }
    header img {
      width: 200px;
      height: 100px; } }

.SeccionPrincipalIndex button {
  margin-top: 5%;
  height: 60px;
  width: 150; }

.IndexServicios {
  height: 700px; }
  .IndexServicios h2 {
    margin-top: 30px;
    height: 50px;
    font-size: 40px; }
  .IndexServicios .packDeClases {
    height: 500px; }
    .IndexServicios .packDeClases .card {
      align-self: center;
      width: 250px;
      height: 250px; }
      .IndexServicios .packDeClases .card button {
        width: 250px;
        height: 50px; }

.contenedorSobreMiIndex .sMi {
  margin-left: 40%; }
  .contenedorSobreMiIndex .sMi p {
    font-size: 25px; }
  .contenedorSobreMiIndex .sMi button {
    margin-left: 10%; }

.sobreMi .pageSobreMi p {
  margin-top: 5px;
  font-size: 17px; }

footer .redes {
  width: 20%;
  height: 100%; }
  footer .redes a img {
    width: 30px;
    height: 30px; }

footer .mainAlumnas {
  height: 1700px; }
  footer .mainAlumnas h1 {
    font-size: 50px; }
  footer .mainAlumnas .principalAlumnas {
    height: 1500px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 ";
    row-gap: 10px;
    column-gap: 10px; }
    footer .mainAlumnas .principalAlumnas img {
      width: 50%;
      height: 80%;
      object-fit: contain; }
  footer .mainAlumnas section video {
    width: 400px;
    height: 400px;
    margin-left: 30%;
    margin-top: 30px; }

@media (max-width: 768px) {
  header {
    height: 300px; }
    header img {
      height: 200px;
      width: 350px;
      object-fit: contain; }
    header nav .navBar {
      display: flex;
      flex-direction: column; }
  .SeccionPrincipalIndex h1 {
    margin-top: 100px;
    width: 100%; }
  .SeccionPrincipalIndex p {
    display: none; }
  .SeccionPrincipalIndex button {
    margin-top: 35%;
    width: 250px;
    height: 60px; }
  .contenedorSobreMiIndex .sMi {
    padding-top: 30%;
    margin-left: 50%; }
    .contenedorSobreMiIndex .sMi p {
      font-size: 20px; }
    .contenedorSobreMiIndex .sMi button {
      margin-left: 12%;
      width: 200px;
      height: 60px;
      font-size: 15px; }
  .contenedor {
    height: 700px; }
    .contenedor .tipoClases div {
      width: 95%;
      height: 150px;
      background-color: #E3BBC5;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px; }
      .contenedor .tipoClases div h3 {
        font-size: 30px;
        color: #333131;
        margin-left: 5%; }
      .contenedor .tipoClases div img {
        width: 30%;
        height: 100%; }
  footer {
    flex-direction: row; }
    footer a img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      display: flex;
      flex-direction: column; }
  main .articuloServicios {
    width: 100%;
    height: 350px; }
    main .articuloServicios img {
      width: 260px;
      height: 350px; }
    main .articuloServicios .texto {
      margin-left: 10px;
      width: 100%; }
      main .articuloServicios .texto h3 {
        height: 150px;
        font-size: 25px; }
      main .articuloServicios .texto p {
        width: 100%;
        height: 150px; }
      main .articuloServicios .texto button {
        margin-left: 10px; }
  .sobreMi {
    height: 900px; }
    .sobreMi .pageSobreMi {
      display: flex;
      flex-direction: column;
      height: 800px; }
      .sobreMi .pageSobreMi img {
        width: 400px;
        height: 250px;
        align-self: center; }
      .sobreMi .pageSobreMi p {
        width: 95%;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 15px; }
  .IndexServicios {
    height: 820px; }
    .IndexServicios h2 {
      margin-top: 20px;
      height: 50px;
      font-size: 40px; }
    .IndexServicios .packDeClases {
      height: 700px; }
      .IndexServicios .packDeClases .card {
        align-self: center;
        width: 250px;
        height: 250px; }
        .IndexServicios .packDeClases .card button {
          width: 250px;
          height: 50px; }
  .mainAlumnas {
    height: 1200px; }
    .mainAlumnas h1 {
      font-size: 50px; }
    .mainAlumnas .principalAlumnas {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 ";
      row-gap: 10px;
      column-gap: 10px; }
      .mainAlumnas .principalAlumnas img {
        width: 50%;
        height: 80%;
        object-fit: contain; }
    .mainAlumnas section video {
      width: 350px;
      height: 350px;
      margin-left: 25%;
      margin-top: 100px; } }

@media (max-width: 520px) {
  header img {
    width: 50%;
    height: 200px;
    object-fit: contain; }
  .contenedor {
    height: 500px; }
    .contenedor .h2IndexServicios h2 {
      font-size: 30px; }
    .contenedor .tipoClases div {
      width: 97%;
      height: 100px; }
      .contenedor .tipoClases div h3 {
        font-size: 20px;
        color: #333131;
        margin-left: 5%; }
      .contenedor .tipoClases div img {
        width: 150px;
        height: 100%; }
  .contenedorSobreMiIndex {
    width: 100%;
    height: 700px;
    background-image: url(../assets/img/sobremipages.png);
    background-size: contain;
    display: flex;
    flex-direction: column; }
    .contenedorSobreMiIndex .sMi {
      width: 100%;
      padding-top: 70%;
      margin-left: 20px; }
      .contenedorSobreMiIndex .sMi .titulo {
        color: #1C668D;
        text-align: center;
        font-size: 30px; }
      .contenedorSobreMiIndex .sMi p {
        color: #333131; }
      .contenedorSobreMiIndex .sMi button {
        margin-left: 12%;
        width: 200px;
        height: 60px;
        font-size: 15px; }
  .IndexServicios {
    height: 900px; }
    .IndexServicios h2 {
      height: 30px;
      color: #1C668D;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center; }
    .IndexServicios .packDeClases {
      width: 100%;
      height: 700px; }
      .IndexServicios .packDeClases .card {
        width: 200px;
        height: 200px; }
        .IndexServicios .packDeClases .card img {
          width: 100%;
          height: 100%; }
        .IndexServicios .packDeClases .card button {
          width: 200px;
          height: 30px;
          background-color: #1C668D;
          font-size: 15px;
          color: #f7f7f7;
          border-radius: 20px; }
  .mainAlumnas {
    height: 1300px; }
    .mainAlumnas h1 {
      font-size: 40px;
      height: 40px; }
    .mainAlumnas .principalAlumnas {
      height: 800px;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      grid-template-areas: "img1 img2" "img3 img4 " " img5 img6 " "img7";
      row-gap: 10px;
      column-gap: 10px; }
      .mainAlumnas .principalAlumnas img {
        width: 170px;
        height: 170px;
        object-fit: contain;
        margin-left: 10%;
        margin-top: 10px; }
    .mainAlumnas section video {
      width: 300px;
      height: 300px;
      margin-left: 15%;
      margin-top: 30px; }
  footer {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    footer .logo img {
      margin-top: 1px;
      width: 200px;
      height: 100px;
      object-fit: contain; }
    footer p {
      color: aliceblue;
      font-size: 10px;
      width: 100%;
      text-align: center; }
    footer a img {
      width: 20px;
      height: 20px;
      margin-top: 10px; }
  main .pack {
    font-size: 30px; }
  main .articuloServicios {
    width: 100%;
    height: 900px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column; }
    main .articuloServicios img {
      width: 100%;
      height: 430px; }
    main .articuloServicios .texto {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      width: 97%; }
      main .articuloServicios .texto h3 {
        height: 200px;
        width: 100%;
        font-size: 30px;
        color: #333131; }
      main .articuloServicios .texto p {
        width: 100%;
        height: 200px; }
    main .articuloServicios button {
      width: 200px;
      height: 60px;
      border-radius: 20px;
      background-color: #1C668D;
      color: aliceblue;
      margin-left: 20%;
      font-size: 20px; }
  .sobreMi img {
    width: 350px;
    height: 200px;
    align-self: center; }
  .sobreMi p {
    font-size: 15px;
    margin-top: 20px;
    padding-left: 0%; } }

@media (max-width: 400px) {
  header img {
    width: 60%;
    height: 100px;
    object-fit: contain; }
  header nav .navBar li a {
    font-size: 15px; }
  .SeccionPrincipalIndex {
    height: 500px;
    width: 100%;
    background-image: url(../assets/img/foto-prin.png); }
    .SeccionPrincipalIndex h1 {
      font-size: 30px;
      margin-top: 20px;
      height: 10px; }
    .SeccionPrincipalIndex button {
      width: 150px;
      height: 40px;
      font-size: 15px;
      margin-left: 80px;
      margin-top: 200px; }
  .contenedorSobreMiIndex {
    height: 600px;
    width: 100%; }
    .contenedorSobreMiIndex .sMi {
      padding-top: 60%; }
      .contenedorSobreMiIndex .sMi button {
        width: 150px;
        height: 40px;
        font-size: 15px; }
  .IndexServicios {
    height: 1000px; }
    .IndexServicios h2 {
      height: 50px;
      font-size: 30px; }
  .IndexServicios {
    height: 1000px; }
    .IndexServicios .packDeClases {
      height: 900px; }
  .main .pack h2 {
    font-size: 30px; }
  .sobreMi {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px; }
    .sobreMi h1 {
      font-size: 30px;
      color: #1C668D;
      text-align: center; }
    .sobreMi .pageSobreMi {
      display: flex;
      flex-direction: column;
      height: 700px; }
      .sobreMi .pageSobreMi img {
        width: 250px;
        height: 150px; }
      .sobreMi .pageSobreMi p {
        margin-left: 5px;
        font-size: 14px; }
  .mainAlumnas h1 {
    font-size: 30px; }
  .mainAlumnas .principalAlumnas {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-areas: "img1 img2" "img3 img4 " " img5 img6 " "img7";
    row-gap: 10px;
    column-gap: 10px; }
    .mainAlumnas .principalAlumnas img {
      width: 140px;
      height: 140px;
      object-fit: contain;
      margin-left: 10%;
      margin-top: 15%; }
  .mainAlumnas section video {
    width: 250px;
    height: 250px;
    margin-left: 20%;
    margin-top: 30px; } }

@media (max-width: 300px) {
  .contenedor .tipoClases div h3 {
    font-size: 15px; }
  .contenedorSobreMiIndex {
    height: 500px; }
    .contenedorSobreMiIndex .sMi p {
      font-size: 15px; }
    .contenedorSobreMiIndex .sMi button {
      width: 170px; }
  .IndexServicios {
    height: 1000px; } }
