.SeccionPrincipalIndex {
  width: 100%;
  height: 700px;
  background-image: url(../assets/img/foto-inicio.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    width: 50%;
    height: 200px;

    color: rgb(225, 236, 236);
    font-size: map-get($font-size, l);
    align-items: center;
    text-transform: uppercase;

    margin-top: 50px;
  }

  p {
    width: 70%;
    height: 200px;
    color: $color-fondo;
    font-size: map-get($font-size, m);
    text-align: center;
    margin-top: 20px;
  }

  button {
    height: 200px;
    width: 400px;
    margin-top: 5%;
    background-color: $color-secundario;

    font-size: map-get($font-size, s);
    color: #333131;
  }
  
    button:active {
      background-color: $color-principal;
      color: $color-fondo;
      border-radius: 30px;
    }
  
}

.contenedor {
  height: 800px;

  .h2IndexServicios {
    height: 100px;
    h2 {
      font-size: 50px;
      text-transform: uppercase;
      color: $color-principal;
      text-align: center;
    }
  }
  .tipoClases {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    div {
      width: 80%;
      height: 200px;
      background-color: $color-secundario;
      display: flex;
      flex-direction: row;
      align-items: center;

      h3 {
        font-size: map-get($font-size, m);
        color: $color-texto;
        margin-left: 10%;
      }
      img {
        height: 100%;
        width: 250px;
      }
    }
  }
}
.contenedorSobreMiIndex {
  width: 100%;
  height: 700px;
  background-image: url("../assets/img/sobremi.png");
  background-repeat: no-repeat;
  background-size: cover;
  .sMi {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    gap: 50px;
    padding-top: 20%;

    .titulo {
      font-size: map-get($font-size, l);
      color: aliceblue;
    }
    p {
      font-size: map-get($font-size, m);
      color: aliceblue;
      width: 90%;
    }

    button {
      width: 250px;
      height: 80px;
      background-color: $color-secundario;
      font-size: map-get($font-size, s);
    }
    button:active {
      background-color: $color-principal;
      color: $color-fondo;
      border-radius: 30px;
    }
  }
}

.IndexServicios {
  height: 700px;
  h2 {
    height: 50px;
    color: $color-principal;
    font-size: map-get($font-size, l);
    text-transform: uppercase;
    text-align: center;
  }
  .packDeClases {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-top: 5px;
    .card {
      width: 300px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    button {
      width: 300px;
      height: 50px;
      background-color: $color-principal;
      font-size: map-get($font-size, s);
      color: $color-fondo;
      border-radius: 20px;
      margin-top: 30px;
    }
    button:active {
      background-color: $color-secundario;
      color: $color-texto;
    }
  }
}

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-26 17:0:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


