.SeccionPrincipalIndex {
  width: 100%;
  height: 700px;
  background-image: url(../assets/img/foto-inicio.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    width: 50%;
    height: 200px;

    color: rgb(225, 236, 236);
    font-size: map-get($font-size, l);
    align-items: center;
    text-transform: uppercase;

    margin-top: 50px;
  }

  p {
    width: 70%;
    height: 200px;
    color: $color-fondo;
    font-size: map-get($font-size, m);
    text-align: center;
    margin-top: 20px;
  }

  button {
    height: 70px;
    width: 350px;
    margin-top: 5%;
    background-color: $color-secundario;
    border-radius: 30px;
    font-size: map-get($font-size, s);

    a {
      text-decoration: none;
      color: #333131;
    }
  }

  button:active {
    background-color: $color-principal;
    color: $color-fondo;
  }
}

.contenedor {
  height: 500px;

  .h2IndexServicios {
    height: 100px;
    h2 {
      font-size: 50px;
      text-transform: uppercase;
      color: $color-principal;
      text-align: center;
    }
  }
  .tipoClases {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    div {
      width: 90%;
      height: 200px;
      background-color: $color-secundario;
      display: flex;
      flex-direction: row;
      align-items: center;

      h3 {
        font-size: map-get($font-size, m);

        margin-left: 10%;
        a {
          color: $color-texto;
        }
      }
      img {
        height: 100%;
        width: 250px;
      }
    }
  }
}
.contenedorSobreMiIndex {
  width: 100%;
  height: 600px;
  background-image: url("../assets/img/sobremi.png");
  background-repeat: no-repeat;

  background-size: contain;
  background-position: center;
  .sMi {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    gap: 30px;
    

    .titulo {
      font-size: 40px;
      color: aliceblue;
      margin-top: 30%;
    }
    p {
      font-size: map-get($font-size, s);
      color: aliceblue;
      width: 85%;
    }

    button {
      width: 250px;
      height: 50px;
      background-color: $color-secundario;
      font-size: map-get($font-size, s);
      border-radius: 30px;
      a {
        color: $color-texto;
        text-decoration: none;
      }
    }
    button:active {
      background-color: $color-principal;
      color: $color-fondo;
    }
  }
}

.IndexServicios {
  height: 700px;
  h2 {
    height: 70px;
    color: $color-principal;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
  }
  .packDeClases {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    row-gap: 60px;
    margin-top: 20px;
    .card {
      width: 250px;
      height: 250px;
      margin-top: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        &:hover {
          transform: scale(1.1);
        }
      }

      button {
        width: 250px;
        height: 60px;
        background-color: $color-principal;
        font-size: map-get($font-size, s);

        border-radius: 20px;
        margin-top: 30px;
        a {
          color: $color-fondo;
          text-decoration: none;
        }
      }
      button:active {
        background-color: $color-secundario;
        color: $color-texto;
      }
    }
  }
 
}

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-26 17:0:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.tilt-in-left-1 {
  -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.tilt-in-right-1 {
  -webkit-animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
