.mainAlumnas {
  width: 100%;

  .fotoAlumnas {
    height: 60px;
    font-size: 50px;
    text-transform: uppercase;
    color: $color-principal;
    text-align: center;
  }

  .principalAlumnas {
    margin-top: 50px;

    img {
      width: 80%;
      height: 90%;
      align-self: center;
      justify-self: center;

      &:hover {
        transform: scale(1.2);
      }
    }

    @include grid(
      repeat(3, 1fr),
      repeat(3, 1fr),
      center,
      "img1 img2 img3" "img4 img5 img6" "img7 ",
      (10px),
      (10px)
    );
  }

  .h2Re {
    font-size: 40px;
    color: aliceblue;
    background-color: $color-principal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
  }
  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 350px;
      height: 400px;
      object-fit: contain;
    }
  }
}
