@media (max-width: 300px) {
  .SeccionPrincipalIndex {
    button {
      width: 170px;
    }
  }

  .contenedor {
    .tipoClases {
      div {
        h3 {
          font-size: 15px;
        }
      }
    }
  }
  .contenedorSobreMiIndex {
    height: 250px;
    .sMi {
      gap: 60px;
      p {
        font-size: 15px;
      }
      button {
        width: 200px;
        margin-left: 10%;
      }
    }
  }

  .IndexServicios {
    height: 1100px;
    section video {
      margin-left: 10%;
      width: 200px;
      height: 250px;
    }
  }
  main {
    div h1 {
      font-size: map-get($font-size, s);
    }
  }
  main {
    .articuloServicios {
      height: 900px;
      img {
        height: 350px;
        width: 100%;
      }

      .texto {
        h3 {
          height: 130px;
        }
        p {
          font-size: 16px;
        }
        button {
          width: 200px;
        }
      }
    }
  }

  .mainAlumnas {
    .principalAlumnas {
      height: 2000px;
     
      img {
        width: 90%;
        height: 100%;
        object-fit: contain;
       justify-self: flex-start;
       align-self: center;
       
      }
      @include grid(
        repeat(6, 1fr),
        repeat(1, 1fr),
        center,
        "img1"" img2" "img3"" img4 " " img5"" img6 " ,
        (10px),
        (10px)
      );
    }
    .h2Re {
      font-size: 20px;
    }
    .reviews {
      img {
        width: 120px;
        height: 180px;
        object-fit: contain;
       margin-top: 100px;
      }
    }
  }
    .mainSobreMi {
      div h1 {
        font-size: map-get($font-size, m);
      }
      section {
        div {
          img {
            margin-left: 25%;
            object-fit: contain;
            border-radius: 20px;
          }
          .agregado {
            height: 700px;
            margin-left: 10px;
          }
        }
      }
      .sobreLasClases {
        font-size: 16px;
      }
      .sobreMiPag {
        height: 1400px;
        div {
          .yo {
            width: 90%;
            margin-left: 5px;

            height: 200px;
            margin-top: 10px;
            
          }
        }
        .textoFuerza {
          margin-top: 20px;
          height: 500px;

          button {
            width: 180px;
            height: 40px;
            margin-left: 10px;

            a {
              font-size: 14px;
            }
          }
        }
      }
    }
    .mainContactos {
      .whatsap {
        p {
          font-size: 18px;
        }
        img {
          margin-right: 40px;
          width: 60px;
          height: 60px;
        }
      }
    }
  }

