@media (max-width: 400px) {
  header {
    img {
      width: 60%;
      height: 100px;
      object-fit: contain;
    }
    nav {
      .navBar {
        width: 100px;
        li a {
          font-size: 15px;
        }
      }
    }
  }

  .SeccionPrincipalIndex {
    height: 500px;
    width: 100%;

    background-image: url(../assets/img/foto-prin.png);

    h1 {
      font-size: 30px;
      margin-top: 20px;
      height: 10px;
    }
    button {
      width: 200px;
      height: 40px;
      font-size: 15px;
      margin-left: 80px;
      margin-top: 200px;
    }
  }

  .contenedorSobreMiIndex {
    height: 250px;
    width: 100%;
    .sMi {
      width: 90%;
      padding-top: 70%;
      margin-left: 20px;
      gap: 50px;
      button {
        margin-left: 18%;

        font-size: 15px;
      }
    }
  }

  .IndexServicios {
    height: 1100px;
    h2 {
      height: 50px;

      font-size: map-get($font-size, m);
    }
  }

  .packDeClases {
    height: 900px;
    
  }

  .mainAlumnas {
    .fotoAlumnas {
      font-size: 25px;
    }

    .principalAlumnas {
      height: 800px;
      overflow: hidden;

      img {
        width: 90%;
        height: 100%;
        object-fit: contain;
        justify-self: flex-start;
        align-self: center;
        &:hover {
          transform: scale(1.3);
        }
      }
      @include grid(
        repeat(3, 1fr),
        repeat(2, 1fr),
        center,
        "img1 img2" "img3 img4 " " img5 img6 ",
        (10px),
        (10px)
      );
    }
    .h2Re {
      font-size: 25px;
    }
    .reviews {
      img {
        width: 180px;
        height: 200px;
        object-fit: contain;
      }
    }
  }

  main {
    .pack {
      font-size: 30px;
    }
    .articuloServicios {
      height: 850px;

      img {
        border-radius: 20px;
        width: 100%;
        height: 350px;

        margin-top: 30px;
      }
    }
  }
  .mainSobreMi {
    div h1 {
      font-size: map-get($font-size, m);
    }
    section {
      div {
        margin-top: 30px;
        img {
          margin-left: 25%;
          width: 50%;
          height: 200px;
        }
        .agregado {
          height: 570px;
          font-size: 17px;
        }
      }
    }

    .sobreMiPag {
      height: 1350px;
      div {
        .yo {
          height: 300px;
          width: 95%;
          margin-left: 5px;
        }
      }
      .textoFuerza {
        margin-top: 20px;
        height: 650px;

        button {
          width: 260px;
          height: 40px;
          margin-left: 10px;

          a {
            font-size: 16;
          }
        }
      }
    }
  }
}
