@media (max-width: 400px) {
  header {
    img {
      width: 60%;
      height: 100px;
      object-fit: contain;
    }
    nav {
      .navBar {
        li a {
          font-size: 15px;
        }
      }
    }
  }

  .SeccionPrincipalIndex {
    height: 500px;
    width: 100%;

    background-image: url(../assets/img/foto-prin.png);

    h1 {
      font-size: 30px;
      margin-top: 20px;
      height: 10px;
    }
    button {
      width: 150px;
      height: 40px;
      font-size: 15px;
      margin-left: 80px;
      margin-top: 200px;
    }
  }

  .contenedorSobreMiIndex {
    height: 600px;
    width: 100%;
    .sMi {
      padding-top: 60%;

      button {
        width: 150px;
        height: 40px;
        font-size: 15px;
      }
    }
  }
  .IndexServicios {
    height: 1000px;
    h2 {
      height: 50px;

      font-size: map-get($font-size, m);
    }
  }
  .IndexServicios {
    height: 1000px;
    .packDeClases {
      height: 900px;
    }
  }
.main{
  .pack h2{
    font-size: 30px;
  }
}
  .sobreMi {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    h1 {
      font-size: 30px;
      color: $color-principal;
      text-align: center;
    }
    .pageSobreMi {
      display: flex;
      flex-direction: column;
      height: 700px;

      img {
        width: 250px;
        height: 150px;
      }
      p {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
  .mainAlumnas {
    h1 {
      font-size: 30px;
    }

    .principalAlumnas {
      img {
        width: 140px;
        height: 140px;
        object-fit: contain;
        margin-left: 10%;
        margin-top: 15%;
      }
      @include grid(
        repeat(4, 1fr),
        repeat(2, 1fr),
        center,
        "img1 img2" "img3 img4 " " img5 img6 " "img7",
        (10px),
        (10px)
      );
    }

    section video {
      width: 250px;
      height: 250px;
      margin-left: 20%;
      margin-top: 30px;
    }
  }
}
