@media (max-width: 768px) {
  header {
    height: 300px;

    img {
      height: 200px;
      width: 350px;
      object-fit: contain;
    }
    nav .navBar {
      display: flex;
      flex-direction: column;
    }
  }

  .SeccionPrincipalIndex {
    h1 {
      margin-top: 100px;
      width: 90%;
    }

    p {
      display: none;
    }
    button {
      margin-top: 35%;
      width: 250px;
      height: 60px;
    }
  }

  .contenedorSobreMiIndex {
    height: 400px;
    .sMi {
      padding-top: 20%;
      margin-left: 30%;
      height: 1000px;
      gap: 10px;
      .titulo {
        font-size: 30px;
      }
      p {
        font-size: 20px;
        width: 99%;
        height: 130px;
      }
      button {
        margin-left: 10%;
        width: 200px;
        height: 40px;
        font-size: 15px;
      }
    }
  }

  .contenedor {
    .tipoClases {
      div {
        width: 95%;
        height: 150px;
        background-color: $color-secundario;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;

        h3 {
          font-size: 30px;
          color: $color-texto;
          margin-left: 5%;
        }
        img {
          width: 30%;
          height: 100%;
        }
      }
    }
  }

  footer {
    flex-direction: row;
    a img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  .IndexServicios {
    height: 1700px;

    h2 {
      margin-top: 100px;
      height: 50px;
      font-size: 40px;
    }
    .packDeClases {
      height: 800px;
      display: flex;
      flex-direction: column;

      .card {
        align-self: center;
        width: 250px;
        height: 250px;

        button {
          width: 250px;
          height: 40px;
          margin-left: 10px;
        }
      }
    }
  }
  .mainSobreMi {
    section {
      display: flex;
      flex-direction: column;
      div {
        img {
          width: 250px;
          height: 250px;
          margin-left: 32%;
        }

        .agregado {
          font-size: 18px;
        }
      }
    }
    .sobreMiPag {
      height: 1000px;
      div {
        .yo {
          width: 80%;
          margin-left: 15%;
          height: 250px;
          margin-top: 30px;
        }
      }
      .textoFuerza {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        margin-left: 20px;

        button {
          width: 300px;
          height: 40;
          a {
            font-size: 18;
          }
        }
      }
    }
  }

  .mainAlumnas {
    .principalAlumnas {
      @include grid(
        repeat(3, 1fr),
        repeat(3, 1fr),
        center,
        "img1 img2 img3" "img4 img5 img6" "img7 ",
        (10px),
        (10px)
      );
    }

    .reviews div {
      width: 90%;

      img {
        width: 95%;
      }
    }
  }

  main {
    .articuloServicios {
      height: 420px;
      img {
        width: 270px;
      }
      .texto {
        h3 {
          height: 100px;
        }
        p {
          font-size: 18px;
        }
        button {
          font-size: 16px;
          width: 250px;
        }
      }
    }
  }
}
