@media (max-width: 910px) {
  header {
    width: 100%;
    align-items: center;
    background-image: url(../assets/img/color-de-marca.png);
    background-size: contain;
    background-size: cover;

    img {
      width: 200px;
      height: 100px;
    }
  }
}
.SeccionPrincipalIndex {
  button {
    margin-top: 5%;
    height: 60px;
    width: 150;
  }
}
.IndexServicios {
  height: 700px;
  h2 {
    margin-top: 30px;
    height: 50px;
    font-size: 40px;
  }
  .packDeClases {
    height: 500px;

    .card {
      align-self: center;
      width: 250px;
      height: 250px;

      button {
        width: 250px;
        height: 50px;
      }
    }
  }
}
.contenedorSobreMiIndex {
  .sMi {
    margin-left: 40%;
    p {
      font-size: 25px;
    }
    button {
      margin-left: 10%;
    }
  }
}
.sobreMi {
  .pageSobreMi {
    p {
      margin-top: 5px;
      font-size: 17px;
    }
  }
}
footer {
  .redes {
    width: 20%;
    height: 100%;
    a img {
      width: 30px;
      height: 30px;
    }
  }

  .mainAlumnas {
    height: 1700px;
    h1 {
      font-size: 50px;
    }

    .principalAlumnas {
      height: 1500px;
      img {
        width: 50%;
        height: 80%;
        object-fit: contain;
      }

      @include grid(
        repeat(3, 1fr),
        repeat(3, 1fr),
        center,
        "img1 img2 img3" "img4 img5 img6" "img7 ",
        (10px),
        (10px)
      );
    }
    section video {
      width: 400px;
      height: 400px;
      margin-left: 30%;
      margin-top: 30px;
    }
  }
}
